/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--font-family);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 18px;
  font-weight: var(--normal-weight);
}
/* ----------------------------------Header---------------------------------- */

.header_rec {
  color: var(--accent-color);
  text-transform: uppercase;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

@media (375px <= width < 768px) {
  .header {
    padding: 0px 10px;
  }
}

@media (768px <= width < 1024px) {
  .header {
    padding: 0px;
  }
}

.header__theme-menu {
  margin-block-start: 20px;
}
@media (768px <= width < 1024px) {
  .header__theme-menu-list {
    margin-block-start: 171px;
    justify-self: end;
    gap: 20px;
    right: 40px;
  }
}

@media (375px <= width < 768px) {
  .header__theme-menu-list {
    margin-block-start: 55px;
    justify-self: end;
  }
}

.header__theme-menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media (768px <= width < 1024px) {
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: end;
    padding-right: 20px;
  }
}
@media (375px <= width < 768px) {
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 11px;
    align-items: end;
    padding-right: 0px;
  }
}

.header__theme-menu-button {
  color: var(--button-color);
  padding: 2.5px 12px;
  line-height: 100%;
  background: none;
  cursor: pointer;
  font-size: 18px;
  border: 1px solid transparent;
  background: transparent;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--border-active-color);
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--border-bottom);
}

.header_title {
  left: 0px;
  font-style: normal;
  font-weight: var(--bold-weight);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--title-shadow);
}

@media (375px <= width < 768px) {
  .header_title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

.text-decor {
  color: var(--subtitle-color);
  background-color: var(--background-color-text);
  font-weight: var(--normal-weight);
}

.header_text {
  margin-block-start: 114px;
  margin-inline-end: 20px;
  height: min-content;
  font-weight: var(--bold-weight);
  font-size: 18px;
  line-height: 130%;
  justify-self: end;
  max-width: 491px;
}

@media (768px <= width < 1024px) {
  .header_text {
    max-width: 364px;
    margin-inline-end: 20px;
    margin-block-start: 163px;
  }
}

@media (375px <= width < 768px) {
  .header_text {
    max-width: 100%;
    margin-inline-end: 0px;
    margin-block-start: 55px;
  }
}

.header_rec {
  position: absolute;
  top: 20px;
  right: 40px;
}

@media (375px <= width < 768px) {
  .header_rec {
    top: 10px;
    right: 30px;
  }
}

.header_rec::before {
  position: absolute;
  right: 8px;
  top: 3px;
  content: "rec";
  text-transform: uppercase;
  text-align: center;
  color: var(--decor-color);
  font-weight: var(--normal-weight);
  line-height: 18px;
  font-style: normal;
  font-size: 18px;
  font-family: var(--font-family);
}

.header_rec::after {
  position: absolute;
  left: 2px;
  top: 7px;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

@media (375px <= width < 768px) {
  .header_rec::after {
    right: 0px;
    top: 8px;
  }
}

.decorated-zone::before {
  position: absolute;
  content: "";
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
  width: 25px;
  height: 25px;
  right: 20px;
  top: 20px;
}

@media (375px <= width < 768px) {
  .decorated-zone::before {
    right: 10px;
    top: 10px;
  }
}

.decorated-zone::after {
  position: absolute;
  content: "";
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
  width: 25px;
  height: 25px;
  bottom: 20px;
  left: 20px;
}

@media (375px <= width < 768px) {
  .decorated-zone::after {
    left: 10px;
    bottom: 10px;
  }
}
/* --------------------------------main----------------------------------  */

.main {
  padding: 0px 20px;
}

@media (375px <= width < 768px) {
  .main {
    padding: 0px 10px;
  }
}

.section__content {
  display: grid;
  grid-template-columns: minmax(236px, 1fr) 2fr;
  gap: 10px;
}

@media (768px <= width < 1024px) {
  .section__content {
    gap: 20px;
  }
}

.focus {
  margin-block-start: 60px;
}

@media (375px <= width < 768px) {
  .focus {
    margin-block-start: 40px;
  }
}

.title {
  font-style: normal;
  font-weight: var(--bold-weight);
  font-size: 18px;
  line-height: 130%;
  color: var(--section-subtitle);
}

.content__focus {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (375px <= width < 768px) {
  .section__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__article_title {
  font-style: normal;
  font-weight: var(--bold-weight);
  font-size: 18px;
  line-height: 130%;
  color: var(--subtitle-color);
}

.article__text {
  font-style: normal;
  font-weight: var(--normal-weight);
  font-size: 18px;
  line-height: 130%;
  color: var(--main-color-text);
}

.link {
  text-shadow: 2px 2px 0px var(--accent-color);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--border-bottom, #f1b2ce);
}

.link:focus {
  outline: 0;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.reduces__concentration {
  margin-block-start: 80px;
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}

@media (375px <= width < 768px) {
  .reduces__concentration {
    margin-block-start: 50px;
  }
}

.content__reduces_concentration {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

@media (768px <= width < 1024px) {
  .content__reduces_concentration {
    display: flex;
    flex-direction: column;
  }
}

@media (375px <= width < 768px) {
  .content__reduces_concentration {
    display: flex;
    flex-direction: column;
  }
}

.content__reduces__concentration {
  max-width: 315px;
}

@media (768px <= width < 1024px) {
  .content__reduces__concentration {
    max-width: 146px;
  }
}

.recommendations {
  margin-block-start: 80px;
}
@media (375px <= width < 768px) {
  .recommendations {
    margin-block-start: 50px;
  }
}

.recommendations_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recommendations_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__article_subtitle {
  font-style: normal;
  font-weight: var(--normal-weight);
  font-size: 18px;
  line-height: 130%;
  color: var(--subtitle-color);
}

.picture {
  margin-block-start: 80px;
}

@media (375px <= width < 768px) {
  .picture {
    margin-block-start: 50px;
  }
}

.dark__title {
  color: var(--subtitle-color);
}
.picture__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section__picture_content {
  margin-block-start: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
@media (375px <= width < 768px) {
  .section__picture_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-block-start: 10px;
  }
}

.section__picture_content img:nth-of-type(1) {
  grid-column: span 2;
}

.section__picture_content img:nth-of-type(2) {
  grid-row: span 2;
}

.section__picture_content img:nth-of-type(3) {
  grid-row: span 2;
}

.section__picture_content img:nth-of-type(5) {
  grid-column: span 2;
}

/* ----------------------------------footer---------------------------------- */

.footer {
  position: relative;
  height: 100vh;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 60px;
}
.footer_title {
  font-style: normal;
  font-weight: var(--bold-weight);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--title-shadow);
}

@media (768px <= width < 1024px) {
  .footer_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (375px <= width < 768px) {
  .footer_title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
  .footer {
    margin-block-start: 40px;
  }
}
