/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-family: "IBM Plex Mono", monospace;
  .header_rec {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url(../images/cover-image-dark.png);
    --title-color: #db00ff;
    --title-shadow: #ff0070;
    --accent-color: #ff0070;
    --decor-color: #ff0070;
    --section-subtitle: #ff0070;

    --subtitle-color: #000028;
    --background-color-text: #ff0070;
    --main-color-text: #f1b2ce;

    --button-color: #ff0070;
    --border-bottom: #f1b2ce;
    --border-color: rgba(255, 0, 112, 0.4);
    --border-active-color: #ff0070;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    .header_rec {
      display: block;
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --title-color: #ffc2e6;
    --title-shadow: #ff0070;
    --background-color-text: #ff8dcb;
    --decor-color: #353430;
    --section-subtitle: #353430;

    --accent-color: #ff8dcb;
    --subtitle-color: #353430;
    --main-color-text: #353430;

    --button-color: #353430;
    --border-bottom: #353430;
    --border-color: rgba(53, 52, 48, 0.4);
    --border-active-color: #353430;
  }

  .page.theme_light .header_rec {
    display: none;
  }
}
