/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-image: url(../images/cover-image-dark.png);
  --reserve-color: #00012b;

  --title-color: #db00ff;
  --title-shadow: #ff0070;
  --accent-color: #ff0070;
  --decor-color: #ff0070;
  --section-subtitle: #ff0070;

  --normal-weight: 400;
  --bold-weight: 700;

  --subtitle-color: #000028;
  --background-color-text: #ff0070;
  --main-color-text: #f1b2ce;

  --button-color: #ff0070;
  --border-bottom: #ff0070;
	--link-underline:#F1B2CE;
  --border-color: rgba(255, 0, 112, 0.4);
  --border-active-color: #ff0070;
  --font-family: "IBM Plex Mono", monospace;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-lightf.png);
    --reserve-color: #ffeef6;

    --title-color: #ffc2e6;
    --title-shadow: #ff0070;
    --background-color-text: #ff8dcb;
    --decor-color: #353430;
    --section-subtitle: #353430;

    --accent-color: #ff8dcb;
    --subtitle-color: #353430;
    --main-color-text: #353430;

    --normal-weight: 400;
    --bold-weight: 700;

    --button-color: #353430;
    --border-bottom: #353430;
    --border-color: rgba(53, 52, 48, 0.4);
    --border-active-color: #353430;
  }
}
